# Игнорировать файлы и папки, сгенерированные Ren'Py
game/saves/
game/cache/
*.rpyc
*.tmp

# Игнорировать скомпилированные версии и дистрибутивы (опционально, если не хотите их хранить в репозитории)
*.dmg
*.exe
*.tar.bz2
*.zip
__pycache__/

